@import "tailwindcss";

@theme {
  --color-primary: #CCFF00;
  --color-dark: #050505;
  --color-light: #FFFFFF;
  
  --font-heading: "Inter", system-ui, sans-serif;
  --font-body: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-dark text-light font-body antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-black uppercase tracking-tighter leading-none;
  }
}

/* Custom Utilities for High Contrast */
.border-thick {
  border-width: 3px;
}

.text-stroke {
  -webkit-text-stroke: 1px #CCFF00;
  color: transparent;
}

.hover-invert:hover {
  @apply bg-primary text-dark;
}
